# Stop tracking compiled build folders anywhere in the project
**/bin/
**/obj/

# Stop tracking local database files
*.db
*.db-journal

# Stop tracking app settings
appsettings.json
appsettings.Development.json